CS Client Cluster Build 1.0.0/xml-resources/web-service-references/EmployeeWebService/wsdl/localhost_8080/EmployeeWebService/EmployeeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://EmployeeWebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EmployeeWebService/">

<xs:element name="addEmployee" type="tns:addEmployee"/>

<xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse"/>

<xs:element name="deleteEmployee" type="tns:deleteEmployee"/>

<xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>

<xs:element name="editEmployee" type="tns:editEmployee"/>

<xs:element name="editEmployeeResponse" type="tns:editEmployeeResponse"/>

<xs:element name="loadData" type="tns:loadData"/>

<xs:element name="loadDataResponse" type="tns:loadDataResponse"/>

<xs:element name="saveData" type="tns:saveData"/>

<xs:element name="saveDataResponse" type="tns:saveDataResponse"/>

<xs:element name="viewEmployeesList" type="tns:viewEmployeesList"/>

<xs:element name="viewEmployeesListResponse" type="tns:viewEmployeesListResponse"/>

<xs:complexType name="saveData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="saveDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loadData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loadDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteEmployee">
<xs:sequence>
<xs:element name="employeeUserName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="post" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEmployee">
<xs:sequence>
<xs:element name="newEmployee" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewEmployeesList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewEmployeesListResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>