CS Client Cluster Build 1.0.0/src/META-INF/wsdl/localhost_8080/CustomerWebService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CustomerWebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CustomerWebService/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://CustomerWebService/" schemaLocation="http://localhost:8080/CustomerWebService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="editCustomerResponse">
<part name="parameters" element="tns:editCustomerResponse"/>
</message>
<message name="viewCustomerList">
<part name="parameters" element="tns:viewCustomerList"/>
</message>
<message name="viewCustomerListResponse">
<part name="parameters" element="tns:viewCustomerListResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="deleteCustomer">
<input wsam:Action="http://CustomerWebService/CustomerWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://CustomerWebService/CustomerWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://CustomerWebService/CustomerWebService/editCustomerRequest" message="tns:editCustomer"/>
<output wsam:Action="http://CustomerWebService/CustomerWebService/editCustomerResponse" message="tns:editCustomerResponse"/>
</operation>
<operation name="viewCustomerList">
<input wsam:Action="http://CustomerWebService/CustomerWebService/viewCustomerListRequest" message="tns:viewCustomerList"/>
<output wsam:Action="http://CustomerWebService/CustomerWebService/viewCustomerListResponse" message="tns:viewCustomerListResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://CustomerWebService/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://CustomerWebService/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewCustomerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerWebService/CustomerWebService"/>
</port>
</service>
</definitions>